 body{

background:#f7f7f7;

font-family:sans-serif;

margin:0;

}

.header{

display:flex;

align-items:center;

gap:15px;

padding:20px;

background:white;

font-size:22px;

font-weight:bold;

box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.header button{

background:none;

border:none;

font-size:26px;

}

.languages{

padding:20px;

display:flex;

flex-direction:column;

gap:18px;

}

.languageCard{

background:white;

border-radius:18px;

padding:18px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 4px 18px rgba(0,0,0,.08);

cursor:pointer;

transition:.25s;

}

.languageCard:active{

transform:scale(.98);

}

.flag{

font-size:40px;

}
/* =========================
   LANGUE
========================= */

.settingsCard{

background:#fff;
border-radius:24px;
padding:22px;
margin:20px;
box-shadow:0 10px 30px rgba(0,0,0,.05);

}

.settingsTitle{

font-size:26px;
font-weight:700;
margin-bottom:20px;

}

.languageItem{

display:flex;
justify-content:space-between;
align-items:center;
padding:14px 0;
cursor:pointer;

}

.languageLeft{

display:flex;
align-items:center;
gap:16px;

}

.languageLeft .material-symbols-rounded{

font-size:34px;
color:#ff6a00;

}

.languageLeft strong{

display:block;
font-size:18px;
color:#111;

}

.languageLeft p{

margin-top:4px;
font-size:14px;
color:#777;

}

.languageItem>span{

font-size:30px;
color:#999;

}
.settingsCard{

    background:#fff;
    border-radius:22px;

    padding:18px;

    margin:22px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.settingsLeft{

    display:flex;
    align-items:center;
    gap:16px;

}

.settingsIcon{

    font-size:34px;
    color:#ff6a00;

}

.settingsLeft h3{

    margin:0;
    font-size:22px;
    font-weight:700;
    color:#222;

}

.settingsLeft p{

    margin:4px 0 0;
    font-size:17px;
    color:#555;

}

.settingsLeft small{

    display:block;
    margin-top:4px;
    color:#999;
    font-size:14px;

}

.settingsArrow{

    font-size:32px;
    color:#999;

}
