 /* =====================================
MERCHANT CUSTOMERS
===================================== */

.customersGrid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(300px,1fr));

gap:22px;

margin-top:25px;

}

.customerCard{

background:#fff;

border-radius:22px;

padding:22px;

box-shadow:0 8px 25px rgba(0,0,0,.05);

transition:.25s;

}

.customerCard:hover{

transform:translateY(-5px);

}

.customerTop{

display:flex;

align-items:center;

gap:15px;

margin-bottom:18px;

}

.customerAvatar{

width:70px;

height:70px;

border-radius:50%;

object-fit:cover;

background:#f1f1f1;

}

.customerName{

font-size:20px;

font-weight:700;

margin-bottom:4px;

}

.customerInfo{

font-size:14px;

color:#777;

line-height:1.6;

}

.customerStats{

margin-top:18px;

display:flex;

justify-content:space-between;

padding-top:18px;

border-top:1px solid #ececec;

}

.customerStats div{

text-align:center;

}

.customerStats h3{

font-size:18px;

color:#ff6a00;

margin-bottom:5px;

}

.customerStats p{

font-size:13px;

color:#888;

}

.customerActions{

display:flex;

gap:12px;

margin-top:20px;

}

.customerActions button{

flex:1;

padding:12px;

border:none;

border-radius:14px;

cursor:pointer;

font-weight:600;

transition:.25s;

}

.contactBtn{

background:#ff6a00;

color:#fff;

}

.contactBtn:hover{

background:#ff7d1a;

}

.profileBtn{

background:#f4f4f4;

}

.profileBtn:hover{

background:#e8e8e8;

}
