 /* =====================================
MERCHANT SETTINGS
===================================== */

.settingsContainer{

display:grid;

grid-template-columns:2fr 1fr;

gap:25px;

margin-top:30px;

}

.settingsCard{

background:#fff;

padding:25px;

border-radius:22px;

box-shadow:0 8px 25px rgba(0,0,0,.05);

display:flex;

flex-direction:column;

gap:18px;

transition:.25s;

}

.settingsCard:hover{

transform:translateY(-4px);

}

.settingsCard h2{

font-size:22px;

font-weight:700;

margin-bottom:10px;

color:#222;

}

.settingsCard input,

.settingsCard textarea{

width:100%;

padding:15px;

border:1px solid #ddd;

border-radius:16px;

font-size:15px;

outline:none;

transition:.25s;

background:#fafafa;

}

.settingsCard input:focus,

.settingsCard textarea:focus{

border-color:#ff6a00;

background:#fff;

}

.settingsCard textarea{

min-height:130px;

resize:vertical;

}

.settingsCard button{

padding:15px;

border:none;

border-radius:16px;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.25s;

}

#saveShopBtn{

background:#ff6a00;

color:#fff;

}

#saveShopBtn:hover{

background:#ff7d1a;

}

#changeLogoBtn{

background:#3b82f6;

color:#fff;

}

#changeBannerBtn{

background:#7b61ff;

color:#fff;

}

#logoutBtn{

background:#ef4444;

color:#fff;

}

.settingsCard button:hover{

transform:translateY(-3px);

}

@media(max-width:900px){

.settingsContainer{

grid-template-columns:1fr;

}

}
