 /* =====================================
MERCHANT MESSAGES
===================================== */

.messagesContainer{

display:flex;

flex-direction:column;

gap:18px;

margin-top:25px;

}

.messageCard{

background:#ffffff;

border-radius:22px;

padding:20px;

display:flex;

align-items:center;

justify-content:space-between;

box-shadow:0 8px 25px rgba(0,0,0,.05);

transition:.25s;

}

.messageCard:hover{

transform:translateY(-4px);

}

.messageLeft{

display:flex;

align-items:center;

gap:18px;

}

.messageAvatar{

width:65px;

height:65px;

border-radius:50%;

background:#f2f2f2;

object-fit:cover;

}

.messageName{

font-size:18px;

font-weight:700;

margin-bottom:5px;

}

.messagePreview{

font-size:14px;

color:#777;

}

.messageRight{

text-align:right;

}

.messageTime{

font-size:13px;

color:#999;

margin-bottom:10px;

}

.unreadBadge{

display:inline-flex;

justify-content:center;

align-items:center;

width:28px;

height:28px;

border-radius:50%;

background:#ff6a00;

color:white;

font-size:13px;

font-weight:700;

}

.emptyMessages{

background:white;

border-radius:22px;

padding:60px 20px;

text-align:center;

box-shadow:0 8px 25px rgba(0,0,0,.05);

}

.emptyMessages .material-symbols-rounded{

font-size:70px;

color:#bdbdbd;

margin-bottom:18px;

}

.emptyMessages h2{

margin-bottom:10px;

font-size:24px;

}

.emptyMessages p{

color:#888;

font-size:15px;

}
