 *{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#f5f7fb;
color:#111827;
}

/* HEADER */

.storeHeader{

position:sticky;

top:0;

background:white;

display:flex;

align-items:center;

gap:15px;

padding:16px;

box-shadow:0 2px 10px rgba(0,0,0,.08);

z-index:1000;

}

#backBtn{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:#f3f4f6;

font-size:22px;

cursor:pointer;

}

.storeHeader h2{

font-size:22px;

font-weight:700;

}

/* BANNER */

.storeBanner{

width:100%;

height:220px;

overflow:hidden;

background:#ddd;

}

.storeBanner img{

width:100%;

height:100%;

object-fit:cover;

}

/* PROFILE */

.storeProfile{

background:white;

margin-top:-45px;

border-radius:30px 30px 0 0;

padding:20px;

display:flex;

gap:18px;

align-items:center;

position:relative;

}

.storeLogo{

width:95px;

height:95px;

border-radius:22px;

background:white;

padding:8px;

box-shadow:0 6px 16px rgba(0,0,0,.12);

object-fit:contain;

}

.storeInfo{

flex:1;

}

#storeName{

font-size:25px;

font-weight:800;

margin-bottom:8px;

}

.verifiedRow{

display:flex;

align-items:center;

gap:8px;

margin-bottom:10px;

font-size:14px;

font-weight:600;

color:#555;

}

.verifiedBadge{

width:18px;

height:18px;

}

#storeProducts{

font-size:14px;

color:#777;

}

/* SEARCH */

.storeSearch{

padding:16px;

background:white;

}

.storeSearch input{

width:100%;

height:48px;

border:none;

background:#f3f4f6;

border-radius:30px;

padding:0 18px;

font-size:15px;

outline:none;

}

/* GRID */

.productsGrid{

display:grid;

grid-template-columns:repeat(2,minmax(0,1fr));

gap:12px;

padding:12px;

padding-bottom:100px;

}
.officialMessage{

margin:40px 20px;

padding:35px 25px;

background:white;

border-radius:26px;

text-align:center;

box-shadow:0 10px 35px rgba(0,0,0,.08);

}

.officialIcon{

font-size:64px;

color:#ff6a00;

margin-bottom:15px;

}

.officialMessage h2{

font-size:30px;

font-weight:800;

margin-bottom:15px;

}

.officialMessage p{

font-size:16px;

line-height:1.7;

color:#666;

margin-bottom:15px;

}

.officialStatus{

display:flex;

flex-direction:column;

gap:12px;

margin-top:25px;

}

.officialStatus span{

background:#f5fff7;

color:#2e7d32;

padding:12px;

border-radius:14px;

font-weight:700;

}
