 body{
font-family:Arial;
background:#f4f6f9;
margin:0;
padding:0;
}

header{
background:black;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
padding:20px;
}

.product{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

button{
background:black;
color:white;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}

input,select,textarea{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:10px;
border-radius:6px;
border:1px solid #ccc;
}
